

<!-- <p *ngIf="loading">
     loading....
</p> -->

<div>
          <app-main-nav>
          </app-main-nav>
          <mat-drawer-container class="left-container">
                    <mat-drawer mode="side" class="sidenav" opened>

                         <p><button mat-button routerLink="/dashboard">{{  'abc-atta.sidebarlink1' | translate}}</button></p>
                         <p><button mat-button  class="active-but" >{{  'abc-atta.sidebarlink2' | translate}}</button></p>

                    </mat-drawer>
                    <mat-drawer-content class="content animated fadeIn">

                         <div class="contenedor-prin" >
                              <div class="content-body">
                                        <ng-container >
                                        <div class="filtro">
                                             <div class="row-up">
                                                  <div class="cont-chips-title">
                                                       <h2> {{ 'abc-atta.title-table' | translate}}</h2>
     
                                                  </div>
                                                  <div class="cont-chips-prin" [ngClass]="{'first': isAllSelected() }">
                                                       
                                                       <button mat-raised-button color="primary" class="login" routerLink="/abc-atta/createUser" >{{ 'abc-atta.crear-usuario' | translate}}</button>
                                                       <div class="cont-chips-button">
                                                            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>filter_list</mat-icon>
                                                            </button>
                                                       </div>
                                                  </div>
     
                                                  <mat-menu #menu="matMenu" >
                                                       <div (click) = "$event.stopPropagation()" class="content-filtro" >
                                                            <div class="title-filter">
                                                                 <p>{{ 'dashboard.title-filter' | translate }}</p>
                                                            </div>
                                                            <div class="filters">
                                                                 <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
                                                                      <mat-label>{{filter.name}}</mat-label>
                                                                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                                                                           (change)="filterChange(filter,$event)">
                                                                           <option value="">-- Select {{filter.name}} --</option>
                                                                           <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                                                                      </select>
                                                                 </mat-form-field>

                                                            </div>
                                                            <div class="filter-button" style="display: flex;
                                                            justify-content:flex-end">
                                                                      <button mat-raised-button color="primary"
                                                                      (click) = "someMethod()"
                                                                      >{{ 'dashboard.buton-filter' | translate }}</button>
                                                            </div>
                                                       </div>
                                                  </mat-menu>
                                             </div>

                                             <div class="row-bottom" *ngIf="showChips">
                                                  <div class="cont-tent">
                                                       <span class="title-filter">Filters</span>
                                                       <div class="cont-chips-cont">
                                                            <mat-form-field class="chip-list">
                                                                 <mat-chip-list #chipList >
                                                                      <mat-chip  *ngIf="varChipIdUser"  [selectable]="selectable"
                                                                                [removable]="removable" (removed)="removableChipIdUser()">
                                                                      {{ varChipIdUser }}
                                                                      <mat-icon matChipRemove *ngIf="varChipIdUser">cancel</mat-icon>
                                                                      </mat-chip>
                                                                      <mat-chip  *ngIf="varChipLevel"  [selectable]="selectable"
                                                                                [removable]="removable" (removed)="removableChipLevel()">
                                                                      {{ varChipLevel }}
                                                                      <mat-icon matChipRemove *ngIf="varChipLevel">cancel</mat-icon>
                                                                      </mat-chip>
                                                                 </mat-chip-list>
                                                            </mat-form-field>
                                                       </div>
                                                  </div>
                                             </div>
                                             
                                        </div>





                                        <mat-table [dataSource]="dataSource" matSort>




                                             <ng-container matColumnDef="level">
                                             <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'abc-atta.title5-table' | translate }}  </mat-header-cell>
                                             <mat-cell *matCellDef="let element" > {{element.username}} </mat-cell>
                                             </ng-container>


                                             <ng-container matColumnDef="name" >
                                             <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'abc-atta.title1-table' | translate }}  </mat-header-cell>
                                             <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                             </ng-container>


                                             <ng-container matColumnDef="email">
                                             <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'abc-atta.title3-table' | translate }}  </mat-header-cell>
                                             <mat-cell *matCellDef="let element"> {{element.unidadNegocio}} </mat-cell>
                                             </ng-container>


                                             <ng-container matColumnDef="bussinets">
                                             <mat-header-cell *matHeaderCellDef > {{ 'abc-atta.title4-table' | translate }}  </mat-header-cell>
                                             <mat-cell *matCellDef="let element" > {{element.email}} </mat-cell>
                                             </ng-container>

                                             <ng-container matColumnDef="recluiterId">
                                             <mat-header-cell *matHeaderCellDef  > {{ 'abc-atta.title2-table' | translate }}  </mat-header-cell>
                                             <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
                                             </ng-container>





                                        <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row >
                                        <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>





                                        </mat-table>


                                        </ng-container>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="div-copyright">
                                             <p>
                                                  Copyright 2020 © Agile Thougth All Rights Reserved
                                             </p>
                                        </div>
                              </div>
                         </div>
                    </mat-drawer-content>
          </mat-drawer-container>
     </div>
