@import '~@sweetalert2/theme-material-ui/material-ui.scss';

.confondo{
  background-color: white;
}
.example{
  // outline: 1px solid red;
  width:300px;
}

.wrapper{
  height: calc(100vh - 62px);
  display: flex;
  width: 100%;
  .wrapper-left{
       background-image: url(../../assets/img/hero-desktop.png); 
      //  background-size: 800px;
       background-repeat:no-repeat; 
       background-position: center center;
       flex-basis: 50%;
       position: relative;
       background-size: cover;


       .cont-text{
         position:absolute;
          top:calc(50%);
          left:calc(50%);
          transform:translate(-50%,-50%);
          h2{
            font-size: 57px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: 0.48px;
            color: #ffffff;
          }  
          p{
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #16eacf;
            text-align:left;
          }
       }

  }
  .wrapper-right{
       background: white;
       flex-basis: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
  }

}

.example-form {
     min-width: 150px;
     height:500px;
      width: 350px;
   }
   
   .cont-input{
      height:80px;
      position: relative;
      .example-full-width {
        width: 100%;
      }
      small{
        position: absolute;
        bottom: 15px;
        left: 0;
        height: 20px;
        width: 250px;
        color:Red
      }
   }

   h4{
     text-align: left;
     font-family: 'Prompt', sans-serif;
     font-size: 32px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     color: #323232;
   }
   p{
     text-align: left;
     font-family: 'Prompt', sans-serif;
     font-size: 20px;
     font-weight: normal;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.2;
     letter-spacing: normal;
     color: #323232;
     span{
      color:rebeccapurple;
      font-family: 'Prompt', sans-serif;
     }
   }
   form{
     margin-top: 65px;

    ::ng-deep input.mat-input-element {
      color: #484a4c;
    }

/* Change label color on focused */
    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: #0e5375 !important;
    }

/* underline border color on focused */
      ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
        background-color: #0e5375 !important;
      }
      

   }

   ::ng-deep  button.mat-raised-button.login:not([disabled]) {
    color:white;
    height: 40px;
    border-radius: 4px;
    background-color: #0e5375 !important;
  }

   .check-link{
    display: flex;
    align-items: center;
    justify-content: center;
     mat-checkbox.check-login{
      //  margin-top: 120px;
      //  outline: 5px solid pink;
      }
      a.link{
        cursor: pointer;
        color:rebeccapurple;
        transition: 1s;
        text-decoration: none;
        font-family: 'Prompt', sans-serif;
        &:hover{
          text-decoration: line-through;
        }
      }

   }
    button.login,button.btn-linkedIn,button.btn-google{
      margin-bottom: 30px;
      margin-top: 30px;
     width: 100%;
     font-family: 'Prompt', sans-serif;  
    //  outline: 10px solid red;
   }

   

   ::ng-deep an-button{
     display: flex;
     justify-content: center;
     button{ 
      //  outline: 10px solid red;
       width: 150px;
       text-align: center;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
    } 
   } 
.div-copyright{
  // outline: 1px solid red;
  position: absolute;
  bottom: 0;
  position: absolute;
  bottom: 0;
  width: 590px;
  right: 0;
  border-top: 1px solid #a8a8a8;
  left: 30px;
  p{
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #999999;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
  }
}

.login-extra{
  width:100%;
}