<div>
     <app-main-nav>
     </app-main-nav>
               

     <div class="wrapper">
               <div class="wrapper-left">
                  <div class="cont-text">
                       <h2>We Are AgileThinkers</h2>
                       <p>Collaborate With the Industry’s Best Talent</p>
                  </div>
               </div>
               <div class="wrapper-right animated fadeIn">
                         <!-- <app-login></app-login>  -->
                         <div class="example-form" >
                                   <!-- <h4>AgileThought</h4> -->
                                   <h4>{{ 'principal.titulo' | translate }}</h4>
                                   <p>{{ 'principal.texto' | translate }}
                                   </p>
                                        <!-- <span>Create an acount </span>
                                   <p>New to Agile Thought <span>Create an acount </span></p> -->
                                   
                                   <form [formGroup]="forma" autocomplete="off" (ngSubmit)="onSubmit()"
                                        #form="ngForm">
                                        <div class="cont-input">
                                             <mat-form-field class="example-full-width">
                                                  <mat-label>User ID or e-mail</mat-label>
                                                  <input 
                                                       matInput 
                                                       type="text"
                                                       placeholder="edin.brin" 
                                                       name="user"
                                                       formControlName="email"
                                                       >
                                                       <mat-icon matSuffix *ngIf="inputNoValido" style="color:red">error_outline</mat-icon>
                                                  </mat-form-field>
                                                  <small *ngIf="inputNoValido">{{ 'principal.invalidUser' | translate }}</small>

                                        </div>
                                        
                                        <!-- <an-text class="div-an-text" [name]="'nombre'" [label]="'nombre'"   placeholder="email@mail.com" ></an-text>                                       -->
                                             <!-- <span *ngIf="form.submitted  && form.controls['email'].errors">Email requerido </span> -->
                                        <div class="cont-input">
                                             <mat-form-field class="example-full-width">
                                                  <mat-label>Password</mat-label>
                                                  <input 
                                                       matInput  
                                                       placeholder="********" 
                                                       type="password"
                                                       name="password" 
                                                       minlength="5"
                                                       formControlName="password"
                                                       >
                                                       <mat-icon matSuffix *ngIf="passNoValido" style="color:red">error_outline</mat-icon>
                                             </mat-form-field>
                                             <small *ngIf="passNoValido">{{ 'principal.invalidPass' | translate }}</small>
                                        </div>
                                        
                                        
                                        
                                        <button mat-raised-button   class="login" type="submit"[disabled]="!forma.valid">Login</button>
                                        
                                        
                                        
                                        <!-- <a mat-raised-button class="login-extra" (click)="logginExtra()">logginExtra</a> -->
                                        
                                        <!-- <an-button [className]="'success'" type="submit">Log In</an-button> -->



                                        <!-- <div class="check-link">
                                             <mat-checkbox color="primary" class="check-login">Remember me</mat-checkbox>
                                              <a class="link" routerLink="/signup">SIGN UP</a>
                                        </div> -->
                                        <!-- <button  mat-raised-button class="btn-linkedIn" type="button">Login with Linked In</button>
                                        <button mat-raised-button class="btn-google" type="button">Login with Google In</button> -->
                         
                                   </form> 
                              </div>
                              <div class="div-copyright">
                              <p>
                                   Copyright 2020 © Agile Thougth All Rights Reserved
                              </p>
                         </div>  
               </div>
     </div>

</div>