<!-- <mat-grid-list cols="12" [rowHeight]="fit">
     <mat-grid-tile
         *ngFor="let tile of tiles"
         [colspan]="tile.cols" 
         [rowspan]="tile.rows"
         [ngClass]="{confondo: tile.fondo, ' ': !tile.fondo}">
          <div *ngIf="tile.text === 'One'" class="example">
               <app-login></app-login>    
          </div>
          {{tile.text}}
     </mat-grid-tile >
</mat-grid-list>   -->

<!-- <div class="wrapper">
     <div class="wrapper-left">
        
     </div>
     <div class="wrapper-right">
     </div>
</div> -->
<!-- <appz-login></app-login>  -->