.sidenav-container {
  height: 100%;
}

.mat-toolbar.mat-primary{
  background: white;
  border-bottom: 1px solid #a8a8a8;;
  

}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden{
  display: none;
}
.spacer{
  flex: 1 1 auto;
}

mat-toolbar a{ 
  display: inline-block;
  margin: 0 10px;
  color:white;
  text-decoration: none;
}

mat-sidenav-content{
  mat-toolbar{
    // outline: 5px solid red;
  }
  svg{
    padding-left:10px ;
    width: 200px;
    height: auto;
    width: 160px;
    height: 43px;
    object-fit: contain;
    
  }
}

mat-toolbar a.switch{
  margin-right:70px ;
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #323232!important;
  cursor:pointer;
  &.active{
    display: none;
    // outline:1px solid red;
  }
}

mat-sidenav-content{
  // outline: 5px solid red;
}

.logout{
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: right;
    color: #323232 !important;
    cursor: pointer;
    padding-right: 5px;
}




@media(max-width:600px){
  mat-toolbar a{ 
    display: none;
  }
}

