.wrapper-dash{
     display: flex;
     // outline: 5px solid red;
     .navi-cont{
          flex-basis: 20%;
          outline: 1px solid red;
     }
     .body-cont{
          flex-basis: 80%;
          outline: 1px solid blue;
     }
}


.left-container {
     position: absolute;
     top: 60px;
     bottom: 60px;
     left: 0;
     right: 0;
     .sidenav {
          padding-top: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 300px;
          background: rgba(255, 0, 0, 0.863);
          p{
               width: 100%;
               outline: 1px solid red;
               button{
                    width: 80%;
                    outline: 1px solid blue;
                    text-align: left;
                    &.active-but{
                         color:Red;
                         background: black;
                    }
               }
          }
     }
     .content{
          padding: 40px;
          .content-head{
               display: flex;
               .content-title{
                    flex-basis: 70%;
                    outline: 1px solid blue;
               }
               .content-progress{
                    flex-basis: 30%;
                    outline: 1px solid red;
               }
          }
     }
}
   
   
   