<div>
     <app-main-nav>
     </app-main-nav>
     <mat-drawer-container class="left-container">
               <mat-drawer mode="side" class="sidenav" opened>

                         <p><button mat-button routerLink="/dashboard">{{  'abc-atta.sidebarlink1' | translate}}</button></p>
                         <p><button mat-button  class="active-but" >{{  'abc-atta.sidebarlink2' | translate}}</button></p>

               </mat-drawer>
               <mat-drawer-content class="content animated fadeIn">

                    <div class="content-principal">
                         <h2>{{ 'abc-atta-createrUser.title' | translate }}</h2>
                         <h3>{{ 'abc-atta-createrUser.sub-title' | translate }}</h3>
     
                         <form autocomplete="off"  [formGroup]="firstFormGroup" class="alta-form" (ngSubmit)="guardar()">
                              <!-- formulario para español -->
                              <div class="form-esp" *ngIf="  !this.isEnglish()  ">
                                   <div class="form-row">
                                             <div class="cont-input  ">
                                                  <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Usuario</mat-label>
                                                            <input
                                                                 matInput
                                                                 type="text"
                                                                 placeholder="User"
                                                                 name="user"
                                                                 required
                                                                 formControlName="user"
                                                                 maxlength="20"
                                                                 onkeypress="return /[a-z.a-z]/i.test(event.key)"
                                                                 >
                                                            <mat-icon matSuffix *ngIf="firstFormGroup.controls.user.errors && firstFormGroup.controls.user.dirty " class="error-input"class="error-input" >error_outline</mat-icon>
                                                            <mat-hint  *ngIf="firstFormGroup.controls.user.errors && firstFormGroup.controls.user.dirty " class="error-input" >Introduce un User Id válido</mat-hint>
                                                  </mat-form-field>
                                             </div>
                                             <div class="cont-input  ">
                                                  <mat-form-field class="example-full-width" appearance="fill">
                                                       <mat-label>Nombre</mat-label>
                                                       <input
                                                            matInput
                                                            type="text"
                                                            placeholder="First Name"
                                                            name="name"
                                                            required
                                                            formControlName="firstName"
                                                            onkeypress="return /[a-z]/i.test(event.key)"
                                                            >
                                                       <mat-icon matSuffix 
                                                            *ngIf="firstFormGroup.controls.firstName.errors && firstFormGroup.controls.firstName.dirty " class="error-input" >error_outline</mat-icon>
                                                       <mat-hint  *ngIf="firstFormGroup.controls.firstName.errors && firstFormGroup.controls.firstName.dirty " class="error-input" >Introduce un nombre válido </mat-hint>
                                                  </mat-form-field>
                                             </div>
                                             <div class="cont-input  ">
                                                  <mat-form-field class="example-full-width" appearance="fill">
                                                       <mat-label>Apellido Paterno</mat-label>
                                                       <input
                                                            matInput
                                                            type="text"
                                                            placeholder="Apellido Paterno"
                                                            name="apPaterno"
                                                            required
                                                            formControlName="apPaterno"
                                                            onkeypress="return /[a-z]/i.test(event.key)"
                                                            >
                                                       <mat-icon matSuffix *ngIf="firstFormGroup.controls.apPaterno.errors && firstFormGroup.controls.apPaterno.dirty " class="error-input" >error_outline</mat-icon>
                                                       <mat-hint  *ngIf="firstFormGroup.controls.apPaterno.errors && firstFormGroup.controls.apPaterno.dirty " class="error-input" >Introduce un apellido válido</mat-hint>
                                                  </mat-form-field>
                                             </div>
                                        </div>
                                        <div class="form-row">
     
                                                  <div class="cont-input  ">
     
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Apellido Materno</mat-label>
                                                            <input
                                                                 matInput
                                                                 type="text"
                                                                 placeholder="Last Name"
                                                                 name="apMaterno"
                                                                 required
                                                                 formControlName="apMaterno"
                                                                 onkeypress="return /[a-z]/i.test(event.key)"
                                                            >
                                                            <mat-icon matSuffix *ngIf="firstFormGroup.controls.apMaterno.errors && firstFormGroup.controls.apMaterno.dirty " class="error-input" >error_outline</mat-icon>
                                                            <mat-hint  *ngIf="firstFormGroup.controls.apMaterno.errors && firstFormGroup.controls.apMaterno.dirty " class="error-input" >Introduce un apellido válido</mat-hint>
                                                       </mat-form-field>
     
     
                                                  </div>
                                                  <div class="cont-input  ">
     
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Email</mat-label>
                                                            <input
                                                                 matInput
                                                                 type="email"
                                                                 placeholder="jane_@gmail.com"
                                                                 name="email"
                                                                 required
                                                                 formControlName="email"
                                                                 maxlength="30"
                                                                 >
                                                            <mat-icon matSuffix *ngIf="firstFormGroup.controls.email.errors && firstFormGroup.controls.email.dirty " class="error-input" >error_outline</mat-icon>
                                                            <mat-hint  *ngIf="firstFormGroup.controls.email.errors && firstFormGroup.controls.email.dirty " class="error-input" >Introduce un email válido </mat-hint>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="cont-input  ">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Número Telefónico</mat-label>
                                                            <input
                                                                 matInput
                                                                 placeholder="Enter phone number"
                                                                 name="number"
                                                                 required
                                                                 type="number"
                                                                 formControlName="phone"
                                                            >
                                                            <mat-icon matSuffix *ngIf="firstFormGroup.controls.phone.errors && firstFormGroup.controls.phone.dirty " class="error-input" >error_outline</mat-icon>
                                                            <mat-hint  *ngIf="firstFormGroup.controls.phone.errors && firstFormGroup.controls.phone.dirty " class="error-input" >Introduce un teléfono válido </mat-hint>
                                                       </mat-form-field>
                                                  </div>
                                        </div>
                                        <div class="form-row">
                                             <div class="cont-input">
                                                  <mat-form-field appearance="fill">
                                                       <mat-label>Unidad de Negocio</mat-label>
                                                       <mat-select required formControlName="business">
                                                            <mat-option *ngFor="let busine of business"  [value]="busine.value">
                                                                 {{busine.viewValue}}
                                                            </mat-option>
                                                       </mat-select>
                                                       <mat-icon matSuffix *ngIf="firstFormGroup.controls.business.errors && firstFormGroup.controls.business.dirty " class="error-input" >error_outline</mat-icon>
                                                       <mat-hint  *ngIf="firstFormGroup.controls.business.errors && firstFormGroup.controls.business.dirty " class="error-input" >Introduce una unidad de negocio válido </mat-hint>
                                                  </mat-form-field>
                                             </div>
                                             <div class="cont-input">
                                                       <mat-form-field appearance="fill">
                                                                 <mat-label>Nivell</mat-label>
                                                                 <mat-select required
                                                                 formControlName="level">
                                                                      <!-- <mat-option *ngFor="let level of levels"  [value]="level">
                                                                           {{level}}
                                                                      </mat-option> -->
                                                                      <mat-option value="1"> Level 1 (Admin)  </mat-option>
                                                                      <mat-option value="2"> Level 2 (Recruiter)  </mat-option>
                                                                      <mat-option value="1"> Level 3 (Master)  </mat-option>
                                                                 </mat-select>
                                                                 <mat-icon matSuffix *ngIf="firstFormGroup.controls.level.errors && firstFormGroup.controls.level.dirty " class="error-input" >error_outline</mat-icon>
                                                                 <mat-hint  *ngIf="firstFormGroup.controls.level.errors && firstFormGroup.controls.level.dirty " class="error-input" >Introduce un nivel válido  </mat-hint>
                                                            </mat-form-field>
                                             </div>
                                             <div class="cont-input">
     
                                             </div>
                                        </div>
     
     
                              </div>
     
                              <!-- formulario para ingles -->
                              <div class="form-ingl" *ngIf="  this.isEnglish()  ">
                                        <div class="form-row">
                                                  <div class="cont-input  ">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>User</mat-label>
                                                            <input
                                                                 matInput
                                                                 type="text"
                                                                 placeholder="User"
                                                                 name="user"
                                                                 required
                                                                 formControlName="user"
                                                                 maxlength="20"
                                                                 onkeypress="return /[a-z.a-z]/i.test(event.key)"
                                                                 >
                                                                 <mat-icon matSuffix *ngIf="firstFormGroup.controls.user.errors && firstFormGroup.controls.user.dirty " class="error-input"class="error-input" >error_outline</mat-icon>
                                                                 <mat-hint  *ngIf="firstFormGroup.controls.user.errors && firstFormGroup.controls.user.dirty " class="error-input" >Please enter a valid user id</mat-hint>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="cont-input  ">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>First Name</mat-label>
                                                            <input
                                                                 matInput
                                                                 type="text"
                                                                 placeholder="First Name"
                                                                 name="name"
                                                                 required
                                                                 formControlName="firstName"
                                                                 maxlength="10"
                                                                 onkeypress="return /[a-z]/i.test(event.key)"
                                                                 >
                                                                 <mat-icon matSuffix 
                                                                           *ngIf="firstFormGroup.controls.firstName.errors && firstFormGroup.controls.firstName.dirty " class="error-input" >error_outline</mat-icon>
                                                                 <mat-hint  *ngIf="firstFormGroup.controls.firstName.errors && firstFormGroup.controls.firstName.dirty " class="error-input" >Please enter a valid Name </mat-hint>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="cont-input  ">
                                                       <mat-form-field class="example-full-width" appearance="fill">
                                                            <mat-label>Last Name</mat-label>
                                                            <input
                                                                 matInput
                                                                 type="text"
                                                                 placeholder="Last Name"
                                                                 name="last_name"
                                                                 required
                                                                 formControlName="lastName"
                                                                 maxlength="10"
                                                                 onkeypress="return /[a-z]/i.test(event.key)"
                                                            >
                                                            <mat-icon matSuffix *ngIf="firstFormGroup.controls.lastName.errors && firstFormGroup.controls.lastName.dirty " class="error-input" >error_outline</mat-icon>
                                                            <mat-hint  *ngIf="firstFormGroup.controls.lastName.errors && firstFormGroup.controls.lastName.dirty " class="error-input" >Please enter a valid Last Name </mat-hint>
                                                       </mat-form-field>
                                                  </div>
                                             </div>
                                             <div class="form-row">
                                                       <div class="cont-input " >
                                                            <mat-form-field class="example-full-width" appearance="fill">
                                                                 <mat-label>Email</mat-label>
                                                                 <input
                                                                      matInput
                                                                      type="email"
                                                                      placeholder="jane_@gmail.com"
                                                                      name="email"
                                                                      required
                                                                      formControlName="email"
                                                                      maxlength="30"
                                                                      >
                                                                      <mat-icon matSuffix 
                                                                                     *ngIf="firstFormGroup.controls.email.errors && firstFormGroup.controls.email.dirty " class="error-input" >error_outline</mat-icon>
                                                                      <mat-hint  *ngIf="firstFormGroup.controls.email.errors && firstFormGroup.controls.email.dirty " class="error-input" >Please enter a valid Email </mat-hint>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="cont-input  ">
                                                            <mat-form-field class="example-full-width" appearance="fill">
                                                                 <mat-label>Phone Number</mat-label>
                                                                 <input
                                                                      matInput
                                                                      placeholder="Enter phone number"
                                                                      name="number"
                                                                      required
                                                                      formControlName="phone"
                                                                      type="number" 
                                                                      maxlength = "10"
                                                                      (input)=maxLengthCheck($event)
                                                                      
                                                                 >
                                                                 <mat-icon matSuffix 
                                                                 *ngIf="firstFormGroup.controls.phone.errors && firstFormGroup.controls.phone.dirty " class="error-input" >error_outline</mat-icon>
                                                                 <mat-hint  *ngIf="firstFormGroup.controls.phone.errors && firstFormGroup.controls.phone.dirty " class="error-input" >Please enter a valid Phone </mat-hint>
                                                            </mat-form-field>
                                                       </div>
                                                       <div class="cont-input">
                                                            <mat-form-field appearance="fill">
                                                                 <mat-label>Business Unit</mat-label>
                                                                 <mat-select required formControlName="business">
                                                                      <mat-option *ngFor="let busine of business"  [value]="busine.value">
                                                                           {{busine.viewValue}}
                                                                      </mat-option>
                                                                 </mat-select>
                                                                 <mat-icon matSuffix 
                                                                 *ngIf="firstFormGroup.controls.business.errors && firstFormGroup.controls.business.dirty " class="error-input" >error_outline</mat-icon>
                                                                 <mat-hint  *ngIf="firstFormGroup.controls.business.errors && firstFormGroup.controls.business.dirty " class="error-input" >Please select a valid Business Unit </mat-hint>
                                                            </mat-form-field>
                                                       </div>
                                             </div>
                                             <div class="form-row">
                                                  <div class="cont-input">
                                                       <mat-form-field appearance="fill">
                                                            <mat-label>Level</mat-label>
                                                            <mat-select required
                                                            formControlName="level">
                                                                 <!-- <mat-option *ngFor="let level of levels"  [value]="level">
                                                                      {{level}}
                                                                 </mat-option> -->
                                                                 <mat-option value="1"> Level 1 (Admin)  </mat-option>
                                                                 <mat-option value="2"> Level 2 (Recruiter)  </mat-option>
                                                                 <mat-option value="1"> Level 3 (Master)  </mat-option>
                                                            </mat-select>
                                                            <mat-icon matSuffix 
                                                                 *ngIf="firstFormGroup.controls.level.errors && firstFormGroup.controls.level.dirty " class="error-input" >error_outline</mat-icon>
                                                                 <mat-hint  *ngIf="firstFormGroup.controls.level.errors && firstFormGroup.controls.level.dirty " class="error-input" >Please select a valid Business Unit </mat-hint>
                                                       </mat-form-field>
     
                                                  </div>
                                                  <div class="cont-input">
     
                                                  </div>
                                                  <div class="cont-input">
     
                                                  </div>
                                             </div>
     
                              </div>
     
                              <div class="form-row botones">
                                   <div *ngIf="auxError" class="msn-error">
                                        <p>
                                             {{ msgError }}
                                        </p>
                                   </div>
     
                                   <button mat-raised-button color="primary"  class="abc-atta-invert" routerLink="/abc-atta/" > Cancel </button>
     
     
                                   <button mat-raised-button color="primary" class="abc-atta-create" type="submit" [disabled]="!firstFormGroup.valid">Create</button>
                              </div>
                         </form>

                    </div>
                    <div class="div-copyright">
                         <p>
                              Copyright 2020 © Agile Thougth All Rights Reserved
                         </p>
                    </div>






<!-- <form autocomplete="off"  [formGroup]="firstFormGroup" (ngSubmit)="guardar()">
     <div class="form-row">

          <div class="cont-input">
               <mat-form-field class="example-full-width">
                         <mat-label>User</mat-label>
                         <input
                              matInput
                              type="text"
                              placeholder="User"
                              name="user"
                              required
                              formControlName="user"
                              >
               </mat-form-field>
          </div>
          <div class="cont-input">
               <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input
                         matInput
                         type="text"
                         placeholder="First Name"
                         name="name"
                         required
                         formControlName="firstName"
                         >
               </mat-form-field>
          </div>
          <div class="cont-input">
               <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input
                         matInput
                         type="text"
                         placeholder="Last Name"
                         name="last_name"
                         required
                         formControlName="lastName"
                    >
               </mat-form-field>
          </div>
     </div>
     <div class="form-row">
          <div class="cont-input">
               <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input
                         matInput
                         type="email"
                         placeholder="jane_@gmail.com"
                         name="email"
                         required
                         formControlName="email"
                         >
               </mat-form-field>
          </div>
          <div class="cont-input">
               <mat-form-field appearance="fill">
                    <mat-label>Business Unit</mat-label>
                    <mat-select required                          formControlName="business"
                    >
                         <mat-option *ngFor="let busine of business"  [value]="busine.value">
                              {{busine.viewValue}}
                         </mat-option>
                    </mat-select>
               </mat-form-field>
          </div>
          <div class="cont-input">
               <mat-form-field appearance="fill">
                    <mat-label>Level</mat-label>
                    <mat-select required
                    formControlName="level">
                         <mat-option *ngFor="let level of levels"  [value]="level">
                              {{level}}
                         </mat-option>
                    </mat-select>
               </mat-form-field>
          </div>

     </div>
     <div class="form-row align-left">
               <div class="cont-text">
                    <p *ngIf="!auxtext ">*Make sure you’re using the correct character convenon. </p>
               </div>
               <div class="cont-buttons">
                         <button mat-raised-button color="primary" class="login" >Cancel</button>
                         <button mat-raised-button color="primary" class="login" type="submit">Next</button>
               </div>

     </div>
</form> -->

<!-- <pre>
     {{ firstFormGroup.controls.age }}
</pre>

<pre>

     {{ firstFormGroup.value | json }}
</pre> -->
               </mat-drawer-content>
     </mat-drawer-container>
</div>
