
<div>
     <div class="modal-fade"></div>
          <app-main-nav>
          </app-main-nav>
     <mat-drawer-container class="left-container">
          <mat-drawer mode="side" class="sidenav" opened>
               
                    <p><button mat-button class="active-but">{{  'abc-atta.sidebarlink1' | translate}}</button></p>
                    <p><button mat-button routerLink="/abc-atta"  >{{  'abc-atta.sidebarlink2' | translate}}</button></p>
             
               
          </mat-drawer>
          <mat-drawer-content class="content animated fadeIn page-dash" style="position: relative">
               <div class="contenedor-prin" >
                    <div class="content-body">
                              <!-- <ul>
                                        <li  *ngFor="let item of this.apiUsers" >{{ item.nombre  }} - {{ item.idReclutador }}  - {{item.statusId}}  </li>
                                   </ul> -->
                              <ng-container >
                                   <div class="filtro">
                                        <div class="cont-chips-title">
                                             <h2>{{ 'dashboard.titulo' | translate }}</h2>
                                             <!-- <div *ngFor="let item of this.apiUsers">
                                                  <h3>{{ item.nombre  }}</h3>

                                             </div> -->
                                             
                                        </div>
                                        <div class="cont-chips-prin" [ngClass]="{'first': isAllSelected() }">
                                             <div class="cont-tent">
                                                  <div class="cont-chips-cont">
                                                       <mat-form-field class="chip-list">
                                                            <mat-chip-list #chipList >
                                                                 <mat-chip  *ngIf="varChipIdUser"  [selectable]="selectable"
                                                                            [removable]="removable" (removed)="removableChipIdUser()">
                                                                 {{ varChipIdUser }}
                                                                 <mat-icon matChipRemove *ngIf="varChipIdUser">cancel</mat-icon>
                                                                 </mat-chip>
                                                                 <mat-chip  *ngIf="varChipStatus"  [selectable]="selectable"
                                                                           [removable]="removable" (removed)="removableChipStatus()">
                                                                 {{ varChipStatus }}
                                                                 <mat-icon matChipRemove *ngIf="varChipStatus">cancel</mat-icon>
                                                                 </mat-chip>
                                                            </mat-chip-list>
                                                       </mat-form-field>   
                                                  </div>
                                                  <div *ngIf="isAllSelected()" class="content-all" >
                                                       <div class="cont-select-all">
                                                            
                                                            
                                                            <button   mat-button  
                                                                      matTooltip="Move to Blacklist"
                                                                      aria-label="Button that displays a tooltip when focused or hovered over"
                                                                      (click)="moveToBlackList()"
                                                                      >
                                                                 <mat-icon>flag</mat-icon>
                                                            </button>
                                                            
                                                            
                                                            <button mat-button [matMenuTriggerFor]="cont">
                                                                 <mat-icon> contact_mail</mat-icon>
                                                            </button>
                                                            <mat-menu #cont="matMenu">
                                                                 
                                                                      <button mat-menu-item >Email</button>
                                                                      <button mat-menu-item >Whatsapp</button>
                                                                      <button mat-menu-item >Follow Up Email</button>
                                                            </mat-menu>



                                                            <button mat-button [matMenuTriggerFor]="search">
                                                                 <mat-icon> youtube_searched_for</mat-icon>
                                                            </button>
                                                            <mat-menu #search="matMenu">
                                                                 <button mat-menu-item>paulina.sampson</button>
                                                                 <button mat-menu-item>rene.jones</button>
                                                                 <button mat-menu-item>abigail.santos</button>
                                                                 <button mat-menu-item>jake.margulis</button>
                                                                 <button mat-menu-item>ana.mckenzie</button>
                                                            </mat-menu>


                                                            <button mat-button [matMenuTriggerFor]="status">
                                                                 <mat-icon>ballot</mat-icon>
                                                            </button>
                                                            <mat-menu  class="buscar" #status="matMenu">
                                                                 <!-- <button mat-menu-item mat-menu-item *ngFor="let item of status "> {{ item.name }} </button> -->
                                                                 <!-- <button mat-menu-item mat-menu-item  *ngFor="let contact of contacts | async">{{contact.name}}</button> -->


                                                                 <button mat-menu-item >NO CONTACT</button>
                                                                 <button mat-menu-item >EMAIL SENT</button>
                                                                 <button mat-menu-item >FOLLOW UP</button>
                                                                 <button mat-menu-item >WAITING RESPONSE</button>
                                                                 <button mat-menu-item >NO RESPONSE</button>
                                                                 <button mat-menu-item >SCREENING TO DO</button>
                                                                 <button mat-menu-item >SCREENING PROCESS</button>
                                                                 <button mat-menu-item >SCREENING DONE</button>
                                                                 <button mat-menu-item >NO PROFILE</button>
                                                                 <button mat-menu-item >PAYLOCITY</button>
                                                                 <button mat-menu-item >WHATSAPP</button>
                    
                                                     
                                                            </mat-menu>    

                                                       </div>
                                                  </div>

                                             </div>
                                             <div class="cont-chips-button">
                                                  <button mat-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
                                             </div>
                                        </div>
                                        
                                        <mat-menu #menu="matMenu"  class="menu-filtro">
                                             <div (click) = "$event.stopPropagation()" class="content-filtro" >
                                                  <div class="title-filter">
                                                       <p>{{ 'dashboard.title-filter' | translate }}</p>
                                                  </div>
                                                  <div class="filters">
                                                       <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
                                                            <mat-label>{{filter.name}}</mat-label>
                                                            <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                                                                 (change)="filterChange(filter,$event)">
                                                                 <option value="">-- Select {{filter.name}} --</option>
                                                                 <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                                                            </select>
                                                       </mat-form-field>
                                                  </div>
                                                  <div class="filter-button" style="display: flex;
                                                  justify-content:flex-end">
                                                            <button mat-raised-button color="primary"
                                                            (click) = "someMethod()"
                                                            >{{ 'dashboard.buton-filter' | translate }}</button>
                                                  </div>
                                             </div>

                                             <!-- <div class="menu-per"  (click) = "$event.stopPropagation()" style="
                                             display: flex;
                                             height: 75px;
                                             width: 500px;
                                             min-width: 500px;
                                             max-width: 500px;
                                             outline: 1px solid blue;
                                         ">
                                             <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
                                                   <mat-label>Filter {{filter.name}}</mat-label>
                                                   <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue"
                                                     (change)="filterChange(filter,$event)">
                                                     <option value="">-- Select {{filter.name}} --</option>
                                                     <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                                                   </select>
                                                 </mat-form-field>

                                             </div>           -->
                                        </mat-menu>


                                       
                                       <!-- <button mat-flat-button color="warn" (click)="resetFilters()">Reset</button> -->
                                   </div>
                                     
                                   <mat-table [dataSource]="dataSource" matSort>
                                   
                                       <ng-container matColumnDef="select">
                                           <mat-header-cell *matHeaderCellDef>
                                             <mat-checkbox (change)="$event ? masterToggle() : null"
                                                           [checked]="selection.hasValue() && isAllSelected()"
                                                           [indeterminate]="selection.hasValue() && !isAllSelected()">
                                             </mat-checkbox>
                                           </mat-header-cell>
                                           <mat-cell *matCellDef="let row">
                                             <mat-checkbox (click)="$event.stopPropagation()"
                                                           (change)="$event ? selection.toggle(row) : null"
                                                           [checked]="selection.isSelected(row)"  [disabled]="true">
                                             </mat-checkbox>
                                           </mat-cell>
                                       </ng-container>
                                       <ng-container matColumnDef="name" >
                                         <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'dashboard.title1-table' | translate }} </mat-header-cell>
                                         <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                       </ng-container>
                                   
                                     <ng-container matColumnDef="id">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'dashboard.title2-table' | translate }}  </mat-header-cell>
                                       <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                                     </ng-container>
                                   
                                   
                                     <!-- <ng-container matColumnDef="username">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> username </mat-header-cell>
                                       <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
                                     </ng-container> -->
                                   
                                     <!-- <ng-container matColumnDef="email">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
                                       <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                                     </ng-container> -->
                                   
                                     <!-- <ng-container matColumnDef="phone">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> phone </mat-header-cell>
                                       <mat-cell *matCellDef="let element"> {{element.phone}} </mat-cell>
                                     </ng-container> -->
                                   
                                     <!-- <ng-container matColumnDef="website">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> website </mat-header-cell>
                                       <mat-cell *matCellDef="let element"> {{element.website}} </mat-cell>
                                     </ng-container> -->
                           
                                     
                           
                                   
                                     <ng-container matColumnDef="status">
                                       <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'dashboard.title3-table' | translate }}  </mat-header-cell>
                                       <mat-cell *matCellDef="let element" > {{element.status}} </mat-cell>
                                     </ng-container>
                           
                                     <ng-container matColumnDef="options">
                                         <mat-header-cell *matHeaderCellDef> Options </mat-header-cell>
                                         <mat-cell *matCellDef="let element">
                                           <!-- <button (click)="deleteRecord(element.id)">Delete</button> -->
                                           <!-- <button (click)="editRecord(element.id , 'blacklist')">BLC</button>
                                           
                                           <button (click)="editRecord(element.id, 'contacto')">CNT</button> -->
                                           
                                           <button mat-button (click)="editRecord(element.id, 'reasignar')"><mat-icon>edit</mat-icon></button>
                                           
                                           <!-- <button (click)="editRecord(element.id, 'status')">STS</button> -->
                                           
                                         </mat-cell>
                                       </ng-container>

                                       <!-- <ng-container matColumnDef="status">
                                             <mat-header-cell *matHeaderCellDef mat-sort-header> status </mat-header-cell>
                                             <mat-cell *matCellDef="let element" > {{element.status}} </mat-cell>
                                           </ng-container> -->
                                     
                                   
                                   
                                   
                                   
                                     <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row >
                                     <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"(click)="selection.toggle(row)"></mat-row> -->
                                     <mat-row *matRowDef="let row; columns: displayedColumns;" ></mat-row>
                                   

                                        


                                   </mat-table>   
                                   
                                   
                                   <!-- <mat-paginator [pageSize]="5" [pageSizeOptions]="[2, 3, 4, 5, 6]">
                                   </mat-paginator> -->
                                   
                           
                                   <!-- <button mat-flat-button color="warn" (click)="sendFileInterrupt()">datos</button> -->
                                   
                                   
                                   <!-- <pre>
                                       selection.hasValue(): {{selection.hasValue()}}
                                       isAllSelected(): {{isAllSelected()}}
                                   
                                       {{ selection }}
                                     </pre> -->
                              </ng-container>
                           
                           
                           
                           
     
     
                    <div class="page-blacklist" style="min-height: 300px; margin-top:50px ;margin-bottom: 150px;">
                         <app-blacklist></app-blacklist>

                    </div>                  
                    </div>

               </div>




               <app-right-navbar [childMessage]="parentMessage" [childTitle]="navTitleChange" [activeNav]="activeNav"  (data)="change_sideBar($event)"></app-right-navbar> 
          </mat-drawer-content>
     </mat-drawer-container>
</div>
