/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html, body { height: 100%;background: white; margin:0}
body { margin: 0; font-family: 'Roboto', sans-serif;}


.swal2-styled.swal2-confirm{

    //  background-color: #673ab7 !important;
    //  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
    //  margin-bottom: 30px !important;
    //  margin-top: 30px !important;
    //  width: 100% !important;
    //  box-sizing: border-box !important;
    // position: relative !important;
    // -webkit-user-select: none !important;
    // -moz-user-select: none !important;
    // -ms-user-select: none !important;
    // user-select: none !important;
    // cursor: pointer !important;
    // outline: none !important;
    // border: none !important;
    // -webkit-tap-highlight-color: transparent !important;
    // display: inline-block !important;
    // white-space: nowrap !important;
    // text-decoration: none !important;
    // vertical-align: baseline !important;
    // text-align: center !important;
    // margin: 0 !important;
    // min-width: 64px !important;
    // line-height: 36px !important;
    // padding: 0 16px !important;
    // border-radius: 4px !important;
 
 }

.animated {
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
   }
   
   .fast {
     -webkit-animation-duration: 0.4s;
     animation-duration: 0.4s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
   }
   
   @keyframes fadeIn {
     from {
       opacity: 0;
     }
   
     to {
       opacity: 1;
     }
   }
   
   .fadeIn {
     animation-name: fadeIn;
   }


//  grid anzen

$device-xs: 540px;
$device-sm: 768px;
$device-md: 1024px;
$device-lg: 1280px;
$device-xl: 1440px;
$column-gap: 0.4rem;

.container {
	box-sizing: border-box;
  margin: 0 auto;

  // Responsiveness
  @media screen and (min-width: $device-xs) {
    max-width: $device-xs;
  }
  @media screen and (min-width: $device-sm) {
    max-width: $device-sm;
  }
  @media screen and (min-width: $device-md) {
    max-width: $device-md;
  }
  @media screen and (min-width: $device-lg) {
    max-width: $device-lg;
  }
  @media screen and (min-width: $device-xl) {
    max-width: $device-xl;
  }
}

.col{
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $column-gap;
  @for $i from 0 through 12{
    @media screen and (min-width: $device-xs - 1px) {
      .row > &.c-#{$i} {
        flex: none;
        width: 100%;
      }
    }
    @media screen and (min-width: $device-sm - 1px) {
      .row > &.c-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }
      .row > &.c-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
    @media screen and (min-width: $device-md - 1px) {
      .row > &.c-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }
      .row > &.c-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
    @media screen and (min-width: $device-lg - 1px) {
      .row > &.c-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }
      .row > &.c-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
    @media screen and (min-width: $device-xl - 1px) {
      .row > &.c-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }
      .row > &.c-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }
  }
}

.row {
  margin-left: (-$column-gap);
  margin-right: (-$column-gap);
  margin-top: (-$column-gap);
  &:last-child {
    margin-bottom: (-$column-gap);
  }
  &:not(:last-child) {
    margin-bottom: calc(1.5rem - #{$column-gap});
  }
  // Modifiers
  &.centered {
    justify-content: center
  }
  &.gapless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    & > .col {
      margin: 0;
      padding: 0 !important;
    }
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.vcentered {
    align-items: center;
  }

  @media screen and (min-width: $device-xs) {
    display: block;
  }
  @media screen and (min-width: $device-sm) {
    display: flex
  }
  @media screen and (min-width: $device-md) {
    display: flex
  }
  @media screen and (min-width: $device-lg) {
    display: flex
  }
  @media screen and (min-width: $device-xl) {
    display: flex
  }
}