<div class="search">
     <app-main-nav>
     </app-main-nav>
     <mat-drawer-container class="left-container">
               <mat-drawer mode="side" class="sidenav" opened>

                    <p><button mat-button routerLink="/dashboard">{{  'abc-atta.sidebarlink1' | translate}}</button></p>
                    <p><button mat-button routerLink="/abc-atta" >{{  'abc-atta.sidebarlink2' | translate}}</button></p>
                    <p><button mat-button  class="active-but" > Search </button></p>

               </mat-drawer>
               <mat-drawer-content class="content animated fadeIn search">

                    <div class="contenedor-principal-search" >
                         <div class="content-body">
                              <h1> Search / Follow Up </h1>
                              <p> Fill all the necessary data a new search of follow up </p>
                         </div>
                         <div>


                                   <div class="wrapper">

                                        <div class="item">
                                             <input id="one" type="checkbox"  (change)="toggleVisibility($event)" />
                                             <label for="one" style="position: absolute;
                                             right: 0px;
                                             top: 30px;">Advanced search</label>
                                             <div style="height: 100px;display: flex;justify-content: 100%;width: 100%;justify-content: center;align-items: center;">
                                                  <form [formGroup]="forma" autocomplete="off" (ngSubmit)="onSubmit()" #form="ngForm">
                                                       <mat-form-field class="example-chip-list" style="width: 700px;">
                                                            <mat-chip-list #chipList aria-label="Skill selection" >
                                                                 <mat-chip *ngFor="let skill of skills" [selectable]="selectable"
                                                                           [removable]="removable" (removed)="remove(skill)">
                                                                 {{skill.skill}}
                                                                 <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                                                 </mat-chip>
                                                                 <input placeholder="New skill..."
                                                                      [matChipInputFor]="chipList"
                                                                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                      [matChipInputAddOnBlur]="addOnBlur"
                                                                      (matChipInputTokenEnd)="add($event)">
                                                            </mat-chip-list>
                                                       </mat-form-field>
                                                       <button mat-raised-button   class="login" type="submit" [disabled]="marked" style="margin-left: 20px;">Send</button>
                                                  </form> 
                                             </div>
                                             <div class="description">
                                                       <form autocomplete="off" (ngSubmit)="onSubmitDetallado()" [formGroup]="formaDetallado">
                                                                 <h2>Applicant Search Engine</h2> 
                                                                 <section class="form-section">
                                                                       <mat-checkbox class="example-margin" formControlName="occ"> OCC </mat-checkbox>
                                                                       <mat-checkbox class="example-margin" formControlName="computrabajo"> Computrabajo </mat-checkbox>
                                                                       <mat-checkbox class="example-margin" formControlName="linkedIn"> LinkedIn </mat-checkbox>
                                                                       <mat-checkbox class="example-margin" formControlName="bdAtta"> BD ATTA </mat-checkbox>
                                                                  </section>
                                                                  <mat-form-field class="example-full-width">
                                                                       <mat-label>First Name</mat-label>
                                                                       <input matInput 
                                                                                 placeholder="First Name">
                                                                       <mat-hint>Errors appear instantly!</mat-hint>
                                                                       <!-- <mat-error >
                                                                            Please enter a valid email address
                                                                       </mat-error>
                                                                       <mat-error>
                                                                            Email is <strong>required</strong>
                                                                       </mat-error> -->
                                                                  </mat-form-field>
                                                                  <mat-form-field class="example-full-width">
                                                                       <mat-label>Email</mat-label>
                                                                       <input matInput 
                                                                                 placeholder="Ex. pat@example.com">
                                                                       <mat-hint>Errors appear instantly!</mat-hint>
                                                                       <!-- <mat-error >
                                                                            Please enter a valid email address
                                                                       </mat-error>
                                                                       <mat-error>
                                                                            Email is <strong>required</strong>
                                                                       </mat-error> -->
                                                                  </mat-form-field>
                               
                               
                               
                                                                  <mat-form-field>
                                                                       <input type="text" placeholder="Enter City" matInput [formControl]="myControl" [matAutocomplete]="auto">
                                                                       <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                                                       <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                                            {{option}}
                                                                       </mat-option>
                                                                       </mat-autocomplete>
                                                                  </mat-form-field>
                               
                               
                                                                  <button mat-raised-button   class="login" type="submit" [disabled]="!marked" >Send</button>      
                               <!-- <pre>{{skills|json}}</pre> -->
                                    
                                    
                                                                  <h1 *ngFor="let item of optionsAux">
                                                                       {{ item['nickName'] }}
                                                                  </h1>
                                                       </form>
                                             </div>
                                        </div>     
                                   </div>





                                       
                                       
                                   <!-- </mat-expansion-panel>
                              </mat-accordion> -->
                             
                         </div>
                    </div>
                    <div class="contenedor-principal-table">
                         <h2>table</h2>
                         <table mat-table
                              [dataSource]="dataSource" multiTemplateDataRows
                              class="mat-elevation-z8">


                              <!-- Checkbox Column -->
                              <ng-container matColumnDef="select">
                                   <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                                       [checked]="selection.hasValue() && isAllSelected()"
                                                       [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                       [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                   </th>
                                   <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                       (change)="$event ? selection.toggle(row) : null"
                                                       [checked]="selection.isSelected(row)"
                                                       [aria-label]="checkboxLabel(row)">
                                        </mat-checkbox>
                                   </td>
                              </ng-container>

                              <ng-container *ngFor="let column of columnsToDisplay;  let i=index"  matColumnDef="{{column}}"  >
                                   <td   mat-cell *matCellDef="let element"> {{element[column]}} </td>
                                   <th   mat-header-cell *matHeaderCellDef> {{column}} </th>
                              </ng-container>

                              <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                              <ng-container matColumnDef="expandedDetail">
                              <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                                   <div class="example-element-detail"
                                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                        <div class="example-element-diagram">
                                             <div class="example-element-position"> {{element.name}} </div>
                                             <div class="example-element-symbol"> {{element.username}} </div>
                                             <div class="example-element-name"> {{element.email}} </div>
                                             <div class="example-element-weight"> {{element.level}} </div>
                                        </div>
                                        <div class="example-element-description">
                                             {{element.email}}
                                             <span class="example-element-description-attribution"> -- Wikipedia </span>
                                        </div>
                                   </div>
                              </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                                   class="example-element-row"
                                   [class.example-expanded-row]="expandedElement === element"
                                   (click)="expandedElement = expandedElement === element ? null : element">
                              </tr>
                              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                         </table>
                    </div>
               </mat-drawer-content>
     </mat-drawer-container>
</div>
