<!-- <p> se selecció el iD:
          {{ childMessage }}
          
     </p> -->

<div [ngClass]="{ 'active':activeNav,'':!activeNav }" class="nav-bar-right" >
          
          
     
     
     <div class="cont-reasignar" *ngIf="childTitle === 'reasignar'">
          <div class="cont-header">
               <h1>  {{ 'navbarRight.title' | translate }} </h1> <button (click)="salirNav(true)"> x </button>

          </div>
          <!-- <form [formGroup]="formaReasignar" autocomplete="off" (ngSubmit)="onSubmitReasignar()"
               #formReasignar="ngForm">
               <div class="cont-top">
                    <h1>  EDIT </h1>
                    <h2>{{ auxUser.name }}</h2>
                    <hr>
                    <h2>Recluter ID:</h2>
                    <h3>35761212-{{ auxUser.id }}</h3>
                    <hr>
                    <div class="cont-select">            
                         <mat-form-field appearance="fill">
                              <h3> Id Recluter</h3>     
                              <mat-form-field class="example-full-width" style="display: none">
                                   <input matInput formControlName="idUser">
                              </mat-form-field>     
                              <br>    
                              <mat-select  formControlName="selectIdRecluter">
                                   <mat-option  value="121213"> 121213 </mat-option>
                                   <mat-option  value="121245"> 121243 </mat-option>
                                   <mat-option  value="121247"> 121247 </mat-option>
                              </mat-select>
                         </mat-form-field>
                    </div>
                    <div class="cont-select">            
                              <mat-form-field appearance="fill">
                              <h3> Status</h3>    
                              <mat-form-field class="example-full-width" style="display: none">
                                   <input matInput formControlName="idUser">
                              </mat-form-field>     
                              <br>    
                              <mat-select  formControlName="selectStatus">
                                   <mat-option  [value]="auxUser.website" > {{ auxUser.website}} </mat-option>
                                   <mat-option  value="121245"> 121243 </mat-option>
                                   <mat-option  value="121247"> 121247 </mat-option>
                              </mat-select>
                         </mat-form-field>
                    </div>
               </div>
               <div class="cont-bottom">
                    <an-button [className]="'success'" type="submit"> Save Changes </an-button>
               </div>
          </form> -->
     
          <mat-accordion>

                    <!-- material -->
                    <!-- <form  [formGroup]="formaContact" autocomplete="off" (ngSubmit)="onSubmitContacto()">
                              <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                                   <mat-expansion-panel-header>
                                        <mat-panel-title>
                                             <p class="title-navbar">JOB APPLICANTS SELECTED</p>
                                        </mat-panel-title>
                                   
                                   </mat-expansion-panel-header>
                                   <h2>{{ auxUser.name }}</h2>
                              </mat-expansion-panel>
                              
                              
                              <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                                   <mat-expansion-panel-header>
                                        <mat-panel-title>
                                             <p class="title-navbar">Recruiter ID</p>
                                        </mat-panel-title>
                                   </mat-expansion-panel-header>
                                   <div class="select-navbar">
                                        <mat-select  formControlName="selectIdRecluter"  >
                                                  <mat-option *ngFor="let item of recluterId"  [value]="item"> {{ item }} </mat-option>
                                        </mat-select>
                                   </div>
                              </mat-expansion-panel>
                              <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                                   <mat-expansion-panel-header>
                                        <mat-panel-title>
                                             <p class="title-navbar">Status</p>
                                        </mat-panel-title>
                                   </mat-expansion-panel-header>
                                   <div class="select-navbar">
                                        <mat-select  formControlName="selectStatus"  >
                                                  <mat-option *ngFor="let item of status"  [value]="item.name"> {{ item.name }} </mat-option>
                                        </mat-select>
                                   </div>
                              </mat-expansion-panel>
                              <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                                   <mat-expansion-panel-header>
                                        <mat-panel-title>
                                             <p class="title-navbar">Contact</p>
                                        </mat-panel-title>
                                   </mat-expansion-panel-header>
                                   <div class="select-navbar">
                                        <mat-select  formControlName="selectContact"  >
                                                  <mat-option *ngFor="let item of contact"  [value]="item"> {{ item }} </mat-option>
                                        </mat-select>
                                   </div>
                              </mat-expansion-panel>
                              <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                                   <mat-expansion-panel-header>
                                        <mat-panel-title>
                                             <p class="title-navbar">Blacklist</p>
                                        </mat-panel-title>
                                   </mat-expansion-panel-header>
                                   <div class="select-navbar">
                                        <mat-select  formControlName="selectBlacklist"  >
                                                  <mat-option *ngFor="let item of blacklist"  [value]="item"> {{ item }} </mat-option>
                                        </mat-select>
                                   </div>
                              </mat-expansion-panel>
                              
                              <div class="cont-bottom">
                                   <an-button [className]="'success'" type="submit"> Save Changes </an-button>
                              </div>
     
                         </form>  -->

                   <!-- anzen -->
                    <form  [formGroup]="formaContact" autocomplete="off" (ngSubmit)="onSubmitContacto()">
                         <div>
                              <!-- <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
                                   <mat-expansion-panel-header>
                                        <mat-panel-title>
                                             <p class="title-navbar">JOB APPLICANTS SELECTED</p>
                                        </mat-panel-title>
                                   
                                   </mat-expansion-panel-header>
                                   <h2>{{ auxUser.name }}</h2>
                              </mat-expansion-panel> -->
                              <an-accordion-item [label]="'JOB APPLICANTS SELECTED'" [theme]="'light'">
                                        <h2>{{ auxUser.name }}</h2>
                              </an-accordion-item>

                              <an-accordion-item [label]="'Recruiter ID'" [theme]="'light'">
                                   <div class="select-navbar">
                                        <mat-select  formControlName="selectIdRecluter"  >
                                                  <mat-option *ngFor="let item of recluterId"  [value]="item"> {{ item }} </mat-option>
                                        </mat-select>
                                   </div>     
                              </an-accordion-item>

                              <an-accordion-item [label]="'Status'" [theme]="'light'">
                                   <div class="select-navbar">
                                        <mat-select  formControlName="selectStatus"  >
                                                  <mat-option *ngFor="let item of status"  [value]="item.name"> {{ item.name }} </mat-option>
                                        </mat-select>
                                   </div>   
                              </an-accordion-item>
                              
                              <an-accordion-item [label]="'Contact'" [theme]="'light'">
                                   <div class="select-navbar">
                                        <mat-select  formControlName="selectContact"  >
                                                  <mat-option *ngFor="let item of contact"  [value]="item"> {{ item }} </mat-option>
                                        </mat-select>
                                   </div>  
                              </an-accordion-item>
                              
                              <an-accordion-item [label]="'Blacklist'" [theme]="'light'">
                                   <div class="select-navbar">
                                             <mat-select  formControlName="selectBlacklist"  >
                                                  <mat-option *ngFor="let item of blacklist"  [value]="item"> {{ item }} </mat-option>
                                        </mat-select>
                                   </div> 
                              </an-accordion-item>
                              
                              <div class="cont-bottom">
                                        <an-button [className]="'success'" type="submit">  {{ 'navbarRight.button-save' | translate }} </an-button>
                                   </div>
                              
                         </div>
                    </form> 
          </mat-accordion>
     </div>
     

    
   
     

</div>